:root {
    --yellow: #ffc600;
    --black: #272727;
}

body {
    background: linear-gradient(110deg, #f93d66, #6d47d9);
    height: calc(100vh-100px);
    font-family: 'roboto';
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px auto;
    grid-template-rows: 100px 100px;
    gap: 3px;
}

.item {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: bold;
    padding: 5px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}