body {
    background: linear-gradient(to right, #2af598, lightblue);
}

.container {
    position: relative;
}

.container .wrapper {
    width: 70vw;
    height: 75vh;
    margin: 5rem auto;
    overflow: hidden;
}

.container .slider-holder {
    display: grid;
    /* grid-template-columns: 100% 100% 100%; */
    grid-template-columns: repeat(3, 100%);
    height: 100%;
    animation: slide 15s ease infinite;
    -webkit-animation: slide 15s ease infinite;
}

.container #slider-image-1 {
    background-color: lawngreen;
    background: url(img/desk1.jpg);
    background-size: cover;
}

.container #slider-image-2 {
    background-color: yellow;
    background: url(img/desk2.jpg);
    background-size: cover;
}

.container #slider-image-3 {
    background-color: tomato;
    background: url(img/desk3.jpg);
    background-size: cover;
}

.container .button-holder {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.container .button-holder .dots {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    background-color: lightcyan;
    margin: .4rem .3rem;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    10% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    20% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    30% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
    }
    60% {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
    }
    70% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    80% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    90% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}