body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background: chocolate;
}

div {
    font-size: 50px;
    font-family: 'roboto';
}